<footer class="footer footer-big">
            <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->

            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                      CHON TRUONG VN
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <h5 class="title">Company</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                       Find offers
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Discover
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Portfolio
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                       Our news
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                       About Us
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3">
                        <h5 class="title"> Help and Support</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">
                                       Contact Us
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                       How it works
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Terms &amp; Conditions
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Company Policy
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                       Money Back
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-md-3">
                        <h5 class="title">Follow us on</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#" class="btn btn-social btn-facebook btn-simple">
                                        <i class="fa fa-facebook-square"></i> Facebook
                                    </a>
                                </li>
                                 <li>
                                     <a href="#" class="btn btn-social btn-dribbble btn-simple">
                                        <i class="fa fa-dribbble"></i> Dribbble
                                    </a>
                                </li>
                                <li>
                                   <a href="#" class="btn btn-social btn-twitter btn-simple">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                </li>
                                <li>
                                     <a href="#" class="btn btn-social btn-reddit btn-simple">
                                        <i class="fa fa-google-plus-square"></i> Google+
                                    </a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
                <hr>
                <div class="copyright">
                    © 2016 Creative Tim, made with love
                </div>
            </div>
        </footer>
