<nav class="navbar navbar-ct-azure navbar-icons" role="navigation-demo">
                      <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="#">Big Icons</a>
                        </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navigation-example-2">

                          <ul class="nav navbar-nav navbar-right">
                                <li>
                                   <a href="">
                                        <i class="pe-7s-search"></i>
                                        <p>Search</p>
                                    </a>
                                </li>
                                <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <i class="pe-7s-home"></i>
                                            <p>Home
                                            <b class="caret"></b>
                                        </p>
                                      </a>
                                      <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                      </ul>
                                </li>
                                 <li>
                                   <a href="">
                                        <i class="pe-7s-user"></i>
                                        <p>Account</p>
                                    </a>
                                </li>

                           </ul>

                        </div><!-- /.navbar-collapse -->

                      </div><!-- /.container-fluid -->
                    </nav>
