<div class="hero-wrapper hero-college-hub">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1 class="text-center">Find Your <b>Dream School.</b></h1>

				<div class="tab-content">
					<div class="tab-pane active" id="college" style="border-top-left-radius: 0px;">
						<form action="/college-search" method="get" novalidate="novalidate">
							<div class="row gutter-minimal">
								<div class="col-sm-8">
                  <input type="text" class="form-control">
								</div>
								<div class="col-sm-4">
									<button type="submit" class="btn btn-primary btn-block">Search</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<p class="sub-search">or <a href="/college-search" class="browse-by">browse by location or major <i class="fa fa-angle-right"></i></a></p>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<p class="text-center" style="margin-top:30px;">Want one-on-one help from a former admissions officer?<br>Our College Counselors can help you find, apply, and get accepted to the best schools.</p>
						<a href="/college-admissions/get-accepted" class="btn btn-secondary btn-block-xs">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
