<div class="container">
  <div class="parallax filter-black">
      <div class="small-info">
          <h1>ĐẠI HỌC VIỆTNAM</h1>
          <h3>Website thông tin các trường đại học cao đẳng tại Viêtnam.</h3>
      </div>
  </div>
</div>
