<div class="subscribe-line subscribe-line-transparent">
             <div class="container">
                <div class="row">
                     <div class="col-md-9">
                        <form class="">
                             <div class="form-group">
                                  <input type="text" value="" class="form-control" placeholder="Enter your email...">
                             </div>
                         </form>
                     </div>
                     <div class="col-md-3">
                         <button type="button" class="btn btn-info btn-fill btn-block">Subscribe Now!</button>
                     </div>
                </div>
             </div>
         </div>
